
@font-face {
    font-family: lcd;
    src: url(CursedTimerUlil-Aznm.ttf);
}

:root {
    background-color: #1B244A;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 2rem;
    box-sizing: content-box;
}

.container {
    display: flex;
    justify-content: space-around;
    border: none;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin: 2rem;
}

button {
    background-color: transparent;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    font-family: inherit;
    padding: 8px;
    margin-bottom: 1rem;
    font-size: large;
    border-radius: 8px;
}

button:hover {
    background-color: gold;
    color: black;
    border: 1px solid black;
}

div {
    font-family: lcd;
    justify-items: center;
}

p {
    background-color: black;
    color: #F94F6D;
    text-align: center;
    height: 180px;
    width: 180px;
    align-content: center;
    font-size: 120px;
    margin: 2rem;
    border-radius: 8px;
}

#reset {
    display: flex;
    justify-self: center;
    margin: 4rem;
    font-size: x-large;
    border-radius: 8px;
    padding: 20px;
}
